.mail-preview {
    display: grid;
    grid-template-columns: 25px 140px 1fr 100px;
    gap: 10px;
    background-color: var(--clr13);
}

.mail-preview.unread {
    background-color: var(--clr7);
}

.mail-preview .mail-checkbox {
    width: 17px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.mail-preview.unread .sender-name,
.subject {
    font-family: product-sans-bold, sans-serif;
}

.mail-preview .time {
    text-align: right;
    padding-right: 10px;
    font-size: 0.80rem;
}