.mail-compose {
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 610px;
    grid-template-rows: 35px 1fr;
    box-shadow: -2px 0px 7px 0 #0f0f0f52;
    color: var(--clr6);
    border-radius: 10px 10px 0 0;
}

.mail-compose .mail-compose-header {
    background-color: var(--clr13);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 16px;
}

.mail-compose .close-btn {
    float: right;
    border: none;
    padding: 5px;
    margin-inline-end: 5px;
}

.mail-compose .close-btn img {
    width: 15px;
    padding: 0;
}

.mail-compose .close-btn:hover {
    opacity: .6;
}

.mail-compose-form {
    display: grid;
    grid-template-rows: 35px 35px 1fr 65px;
    width: 570px;
    padding: 0 16px;
    background-color: var(--clr7);
}

.mail-compose input {
    display: block;
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--clr13);
    padding: 8px 0;
    color: inherit;
}

.mail-compose input:focus-visible {
    outline: none;
}

.mail-compose textarea {
    color: inherit;
    resize: none;
    width: 100%;
    border: none;
}

.mail-compose textarea:focus-visible {
    outline: none;
    height: 100%;
}

.mail-compose .send-btn {
    border: none;
    max-width: 100px;
    border-radius: 30px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--clr8);
    transition: box-shadow .3s;
}

.mail-compose .send-btn:hover {
    box-shadow: rgb(125 127 129 / 30%) 1px 3px 5px 0px, rgb(125 132 137 / 15%) 0px 1px 3px 1px;
}