.mail-side-nav {
    background-color: var(--clr12);
    min-width: 250px;
    padding-right: 0;
    border-right: 1px solid rgb(87 94 102 / 16%);
}

.mail-side-nav .compose-btn {
    background-color: white;
    padding: 15px 25px;
    border-radius: 0.5em;
    border: none;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: box-shadow .3s;
    margin-bottom: 20px;
}

.mail-side-nav .compose-btn:hover {
    box-shadow: 3px 2px 7px 0 rgb(60 64 67 / 30%), 2px 2px 3px 1px rgb(60 64 67 / 16%);
}

.mail-side-nav .inbox {
    font-family: 'product-sans-bold', sans-serif;
    padding: 10px 5px 10px 0;
    border-radius: 20px;
}

.mail-side-nav .inbox img {
    width: 25px;
    margin-right: 10px;
    padding: 0;
}

.mail-side-nav .inbox:hover {
    background-color: var(--clr7);
    cursor: pointer;
}

/* .mail-side-nav .inbox.active {
    background-color: var(--clr7);
} */