@font-face {
    font-family: product-sans-light;
    src: url(../../fonts/product-sans/ProductSans-Light.ttf);
}

@font-face {
    font-family: product-sans-regular;
    src: url(../../fonts/product-sans/ProductSans-Regular.ttf);
}

/* @font-face {
    font-family: product-sans-thin;
    src: url(../../fonts/product-sans/ProductSans-Thin.ttf);
} */

@font-face {
    font-family: product-sans-bold;
    src: url(../../fonts/product-sans/ProductSans-bold.ttf);
}

@font-face {
    font-family: lato-thin;
    src: url('../../fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: lato;
    src: url('../../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-x-bold;
    src: url('../../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('../../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-bold;
    src: url('../../fonts/Ubuntu/Ubuntu-Bold.ttf');
}