:root {
    --main-bg-color: lightblue;

    /* mail list bg color: */

    --clr1: #f2f6fb;

    /* side nav-bar bg color: */

    --clr2: #f7f8fc;

    /* compose and on page color: */

    --clr3: #c1e7fe;

    /* starred/ important color: */

    --clr4: #f4c868;

    /* Text color: */

    --clr5: #e1e7ed;

    /* Text color: */
    --clr6: #202124;


}