:root {

    /* mail filter: */

    --clr1: #f2f6fb;

    /* side and top nav-bar bg color: */

    --clr2: #f7f8fc;

    /* compose and selected page color: */

    --clr3: #c1e7fe;

    /* starred/ important color: */

    --clr4: #f4c868;

    /* Text color: */

    --clr5: #e1e7ed;

    /* Text color: */
    --clr6: #202124;


    /* Google Keep */

    /* bg color: */

    --clr7: #ffffff;

    /* selected page color: */

    --clr8: #fdefc3;

    /* text color: */

    --clr9: #4c4c4c;

    /* search input color & hover on nav-bar: */

    --clr10: #f0f3f4;

    /* grey box shadow inside note color: */

    --clr11: #e1e1e1;

    /* mail nav bar */

    --clr12: #dfebf9;

    /* read mail preview bg color */

    --clr13: #f1f1f1;
}