:root {
    --main-bg-color: lightblue;

    /* mail list bg color: */

    --clr1: #f2f6fb;

    /* side and top nav-bar bg color: */

    --clr2: #f7f8fc;

    /* compose and selected page color: */

    --clr3: #c1e7fe;

    /* starred/ important color: */

    --clr4: #f4c868;

    /* Text color: */

    --clr5: #e1e7ed;

    /* Text color: */
    --clr6: #202124;


    /* Google Keep */

    /* bg color: */

    --var7: #ffffff;
    
    /* selected page color: */

    --var8: #fdefc3;

    /* text color: */

    --var9: #4c4c4c;

    /* search input color & hover on nav-bar: */

    --var10: #f0f3f4;

    /* grey box shadow inside note  color: */

    --var11: #e1e1e1














}