
/* 
.add-note-form input {
    width: 100%;
} */

.add-note-form textarea {
    width: 100%;
    resize: none;
    height: 50px;
    padding: 8px;
    transition: all 0.5s ease;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    box-shadow:1px 1px 6px;


}

.add-note-form {
    width: 100%;
}

.display-note-container{
    width: 50%;
}

textarea:focus {
    height: 6em;
}

.add-note-form .btn-save {
   position: absolute;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
/* 
.add-note-container .btn-container {
    display: flex;
    align-items: center;
    position: relative;
} */

