
/* 
.add-note-form input {
    width: 100%;
} */

.add-note-form textarea {
    width: 100%;
    resize: none;
    height: 3em;
    padding: 3px;
    transition: all 0.5s ease;
    margin-top: 10px;
    border-radius: 10px;

}

.add-note-form {
    width: 50vw;
}
/* 
textarea {
    height: 1em;
    width: 50%;
    padding: 3px;
    transition: all 0.5s ease;
} */

textarea:focus {
    height: 6em;
}

.add-note-form .btn-save {
    position: relative;
    display: flex;
    align-self: end;
}

.input-container {
    display: flex;

}
/* 
.add-note-container .btn-container {
    display: flex;
    align-items: center;
    position: relative;
} */

