.note-preview {
    border-radius: 8px;
    position: relative;
    break-inside: avoid-column;
    border: .8px solid #1d1d1d;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    font-family: product-sans-regular, sans-serif;

}

.note-preview .note-image {
    object-fit: cover;
    width: 90%;
    margin: 10px auto;
}

.note-preview :hover {
    border: 1px solid transparent;
    transition-timing-function: ease-in;
    /* box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%); */
}

.note-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 3px;
    margin-inline-start: 12px;
    font-family: product-sans-bold, sans-serif;
}

.note-text {
    font-size: 1rem;
    width: inherit;
   

    /* border: none; */
}

.note-text textarea {
    resize: none;
    margin-inline-start: 8px;

}

.note-preview iframe {
    margin: 10px auto;
}

.note-text,
.note-image,
.note-video {
    border-bottom: none;
    display: flex;
    flex-direction: column;


}

.note-preview .control-btn-remove{
    width: 35px;
}