.note-index .main-content {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--clr7);
}

.main-content .input-container {
    display: flex;
    justify-content: space-around;

}

.note-index{
    display: flex;
    flex-grow: 1;
}