.app-header-container {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
}

.app-header .app-nav a {
    margin: .5em;
}

.app-header .app-nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}