.app-header-container {
    background: var(--clr7);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
}

.app-header .logo {
    font-size: 26px;
    padding: 10px 0;
}

.app-header .logo-text {
    margin-inline-start: 5px;
}

.app-header .logo-img {
    width: 30px;
}

.app-header .app-nav>a:not(:last-child) {
    margin: .5em;
}

.app-header .app-nav a.active {}